*, *::before, *::after {
    box-sizing: border-box;
}


/* HTML layout */

html,
body,
.container,
.hero-banner,
ul,
h1,
h2,
h3,
h4,
p,
.article-cover,
nav ul {
    margin: 0;
}

.container,
.hero-banner,
.article-cover  {
    margin-left: auto;
    margin-right: auto;
}

footer,
.head-banner,
.logo-title,
ul,
.hero-banner,
.more-option,
.article-cover,
nav ul li a {
    display: flex;
}

html, 
body {
    color: #151515;
    background-color: #FAFAFA;
} 

html,
body,
ul, 
.hero-banner .article-info,
.hero-banner h2,
.hero-banner p,
nav ul {
    padding: 0;
}

footer,
.hero-banner {
    flex-direction: column;
}

footer,
.head-banner,
.logo-title,
.more-option,
.about-section,
nav ul,
nav ul li a{
    align-items: center;
}

footer,
.more-option {
    justify-content: center;
}

footer {
    background: #202020;
    height: 6.5625rem;
}

.container {
    width: 90%;
    max-width: 900px;
    padding-top: 1.5em;
}

/* header */

.head-banner,
.logo-title {
    flex-direction: row;
}


.head-banner {
    padding: 1.25rem;
    justify-content: space-between;
}

.img-logo {
    padding-right: 1em;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

ul,
.post {
    gap: 1em;
}

nav a {
    color: #090909;
    display: block;
    padding: 0.85em 0;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a,
.section-link {
    text-decoration: none;
    color: inherit;
}

header a:hover, 
header a:active {
    color: #b3b3b3;
}

nav ul {
    gap: 1.25rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a i {
    margin-left: 0.3rem;
}

/* hero section (main) */

.hero-banner {
    width: 25.875em;
    width: 100vw;
    padding: 2.1875em 4.25em 0;
    justify-content: flex-end;
}

.hero-banner .article-info,
.hero-banner h2,
.hero-banner p {
    color: black;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.hero-banner p {
    padding-bottom: 1rem;
}

.main-post {
    padding-left: 4.25em;
    padding-right: 4.25em;
}

.pad-bottom {
    padding-bottom: 2rem;
}

/* typography */


html,
body,
footer,
nav a,
.more-option a,
h3,
p {
    font-family: "Source Sans 3", sans-serif;
}

h1 {
    font-size: 0.875em;
    font-family: "Roboto", sans-serif;
}


p {
    line-height: 1.3;
}

.more-option a,
footer h3,
.article-subheader {
    font-weight: 700;
}

footer h3,
footer h4,
nav a {
    font-size: 0.75rem;
}

.more-option a,
.article-subheader {
    font-size: 1rem;
}


footer h3 {
    color: #ECECEC;
}

footer h4 {
    color: #D7D7D7;
    font-weight: 400;
}

footer {
    text-align: center; 
}

footer div {
    display: flex; 
    justify-content: center;
    gap: 1.25rem; 
}

footer a {
    color: #fff; 
    transition: color 0.3s ease; 
}

footer a:hover {
    color: #626262; 
}

.padding-bottom {
    padding-bottom: 3.125rem;
}

.padding {
    padding: 1.25rem 0;
}

.padding-horizontal {
    padding: 0 1rem;
}

/* Article Section / Posts */

.article-subheader{
    padding: 1.25rem 0;
}

.article-cover,
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-cover {
    max-width: 370px;
    max-height: 190px;
    border-radius: 5px;
    object-position: 0 80%;
    border: none;
}

.article-info {
    text-transform: uppercase;
}

article,
.article-img {
    margin-bottom: 1em;
}

.article-img {
    border-radius: 0.1875rem;
}

.profile-pic {
    border-radius: 50%;
    width: 11.375em;
    height: 11.375em;
    margin: 1.6875em 0;
}

img {
    max-width: 100%; 
    max-height: 235px; 
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5em 0 0.35em 0;
}

.article-preview,
.article-content {
    margin-top: 0;
}

.article-preview {
    color: black;
}


.post {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.more-option {
    padding: 1.6875rem;
}

.more-option a {
    color: #000000;
    transition: color 0.3s ease;
}

.more-option a:hover {
    color: #b3b3b3;
}

.darker {
    transition: all 0.2s ease-in-out;
}

.darker:hover,
.darker:active {
    filter: brightness(50%);
    cursor: pointer;
}

/* Portfolio Section(Skills, Education, Experience) */

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    font-style: italic;
    transition: color 0.3s ease; 
}

.contact:hover,
.contact:active {
    color: rgb(139, 139, 139);
}


/* MEDIA */

@media (min-width: 480px) {
    .post {
        grid-template-columns: repeat(1, 1fr);
    }
    .img-logo {
        width: 2em; 
        height: 2em;
    }
}

@media (min-width:768px) {
    .post {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-banner, 
    .head-banner,
    .article-cover,
    .about-section,
    .container {
        max-width: 67.8125rem;
        width: 100%;
    } 

    .about-section {
        display: flex;
        gap: 1em;
        padding-bottom: 1em;
    }

    .about-section h2 {
        padding-bottom: 1em;
    }

    .profile-pic {
        border-radius: 50%;
        width: 11.375em;
        height: 11.375em;
        margin: 0;
    }

    .article-cover {
        max-height: 20.5rem;
    }

    h1 {
        font-size: 1.25em;

    }

    nav a {
        font-size: 1em;
    }

    .img-logo {
        width: 3.125em;
        height: 3.125em;
    }

    .padding-bottom {
        padding-bottom: 0;
    }
}